<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-primary"
    style="width: 100%; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div>
        <img src="assets/logo/logo.png" style="width: 50px; height: 50px; margin-left: 20px; border-radius: 30px;"
            alt="">
    </div>
    <div class="collapse navbar-collapse" id="navbarNav" style="padding: 10px;">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#" style="margin-left: 40px; color: #333;" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="margin-left: 30px; color: #333; transition: color 0.3s;"
                    routerLink="/car">
                    Products
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: #333; transition: font-weight 0.3s;"
                    routerLink="/user/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="margin-right: 30px; color: #333; transition: font-weight 0.3s;"
                    routerLink="/user/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"
                    style="margin-right: 20px; color: #333; font-weight: bold; transition: font-weight 0.3s;"
                    routerLink="/user/about">About</a>
            </li>
        </ul>
    </div>
</nav>




<div id="imageCarousel" class="carousel slide bg-light-red-4" data-ride="carousel" data-interval="2500"
    style="margin-top: 150px;">
    <div class="carousel-inner">
        <div *ngFor="let image of allImage; let i = index" class="carousel-item" [class.active]="i === 0">
            <img [src]="image.image" class="d-block" [alt]="'Image ' + (i + 1)"
                style="height: 600px; border-radius: 35px; margin-left: 14%; width: 1400px;">
        </div>
    </div>

    <!-- Navigation controls -->
    <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev" style="margin-left: 400px;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next" style="margin-right: 400px;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

    <!-- Bottom slide buttons (indicators) -->
    <ol class="carousel-indicators">
        <li *ngFor="let image of allImage; let i = index" data-target="#imageCarousel" [attr.data-slide-to]="i"
            [class.active]="i === 0"></li>
    </ol>
</div>


<nav class="navbar navbar-expand-sm navbar-light bg-dark bottom-navbar text-light">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link text-light" href="#" routerLink="/account">My Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#" routerLink="/orders">My Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#" routerLink="/cart">My Cart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#" routerLink="/help">Help</a>
        </li>
    </ul>
    <ul class="navbar-nav ">
        <li class="nav-item">
            <a href="#" class="nav-link text-light" routerLink="/admin">Admin</a>
        </li>
    </ul>
</nav>
